[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
python-dateutil = "*"
seaborn = "*"
sklearn = "*"
pyserial = "*"
python-telegram-bot = "*"

[dev-packages]
"autopep8" = "*"

# Requires Python3